html, body {
  font-family: 'Varela Round', sans-serif;
}

.App {
  background: linear-gradient(225deg, #7ae0bb, #00a79d);
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 225px;
  height: 85px;
}

.NavbarBackground {
  background: linear-gradient( to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.09));
}

/* NAVIGATION BUTTONS */

.navBtn {
  height: 100%;
  background-color: #fafafa;
  color: #00A79D;
  border: none;
  margin: 0px;
  padding: 0px 25px 0px 25px !important;
}

.navBtn:hover {
  color: #fafafa;
  background-color: #7AE0BB;
  outline: 0;
  border: none;
}

.navBtn:focus {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.navBtn:active {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

/* LOG IN AND SIGN UP BUTTON */

.logSign:hover {
  color: #fafafa;
  outline: 0;
  border: none;
}

.logSign:active {
  color: #fafafa;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

.logSign:focus {
  color: #fafafa;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.logSign span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logSign span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logSign:hover span {
  padding-right: 15px;
}

.logSign:hover span:after {
  opacity: 1;
  right: 0;
}

/* LOGOUT BUTTON */

.logOut {
  background-color: #00A79D;
  border: none;
}

.logOut:hover {
  color: #fafafa;
  background-color: #7AE0BB;
  outline: 0;
  border: none;
}

.logOut:active {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

.logOut:focus {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.logOut span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logOut span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -60px;
  transition: 0.5s;
}

.logOut:hover span {
  padding-left: 15px;
}

.logOut:hover span:after {
  opacity: 1;
  right: 0;
}

.navbar-toggler {
  background-color: white;
  margin-right: 2%;
}

.NavAlign {
  display: flex;
  justify-content: flex-end;
}

.WelcomeButtons {
  margin-top: 2%;
  margin-bottom: 2%;
}

.CardWrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-group>.card {
  margin: 0;
}

.FeatureCards {
  border-radius: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  justify-content: center;
  text-align: center;
}

.ActiveCard {
  border-radius: 0;
  display: flex;
  border-top: 5px solid white;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  text-align: center;
}

.ActiveDescription {
  visibility: hidden;
  padding-bottom: 15px;
}

.ActiveCard .ActiveDescription {
  visibility: visible;
}

.FeatureImg {
  margin: 0 auto;
  padding: 0;
  height: 75px;
  width: 75px;
}

.FeatureBody {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .NavAlign {
    display: flex;
    justify-content: center;
  }
}