html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}