.about-us {
    margin: 5% 0;
    font-size: 1.5em;
}

.featured-panes {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

hr {
    border: 1px solid white;
}

.pane {
    text-align: center;
    height: auto;
    width: 300px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0;
    box-shadow: 0px 5px 8px #888888;
    margin: 10px;
    transition: .2s ease-in-out;
}

.pane:hover {
    box-shadow: 0 2px 82px rgba(0, 0, 0, .156863);
    transform: scale(1.01);
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 1;
    }
    @include media-breakpoint-only(xl) {
        column-count: 1;
    }
}

.socialProfiles {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    height: auto;
}

.pane-image {
    margin: 5% 0 0 0;
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 5px 8px #888888;
}

.pane-image:active {
    transform: scale(3);
}

.website {
    color: #00a79d;
}

.website:hover {
    text-shadow: 10px 10px 10px blue;
    transform: scale(1.2);
}

.resume {
    color: #ff0000;
}

.resume:hover {
    text-shadow: 10px 10px 10px blue;
    transform: scale(1.2);
}

.github {
    color: #767676;
}

.github:hover {
    text-shadow: 10px 10px 10px blue;
    transform: scale(1.2);
}

.linkedin {
    color: #0077B5;
}

.linkedin:hover {
    text-shadow: 10px 10px 10px blue;
    transform: scale(1.2);
}

@media (max-width: 340px) {
    .pane {
        height: auto;
    }
    .pane-image {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .logoHide {
        display: none;
    }
}