.masonry-container {
    width: 100%;
    height: 100%;
    margin: 2% 0 2% 0;
    padding: 20px 0px 20px 0px;
}

.masonry {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    width: 100%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

#itemCard {
    border: 1px solid #d9d9d9;
    border-radius: 0px;
    margin: 5px;
    padding: 0px 0px 0px 0px;
    transition: .2s ease-in-out;
    box-shadow: 0px 5px 8px #888888;
}

#itemCard:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 82px rgba(0, 0, 0, .156863);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.tile img {
    padding: 1px;
    border-radius: 0px;
    width: 100%;
}

#itemContent {
    margin: 0px;
    text-align: center;
    padding: 5%;
}

#itemText {
    margin: 0px;
}

/* VIEW WISH LIST ITEM BUTTON */

#viewItem {
    margin: 2%;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #7AE0BB;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 5px 8px #888888;
}

#viewItem:hover {
    color: #fafafa;
    background-color: #00A79D;
    outline: 0;
    border: none;
}

#viewItem:active {
    color: #fafafa;
    background-color: #088f99;
    outline: 0;
    border: none;
    transform: translateY(1px);
}

#viewItem span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#viewItem span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#viewItem:hover span {
    padding-right: 15px;
}

#viewItem:hover span:after {
    opacity: 1;
    right: 0;
}

/* REMOVE WISH LIST ITEM BUTTON */

#removeItem {
    margin: 2%;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 5px 8px #888888;
}

#removeItem:hover {
    color: #fafafa;
    background-color: #dc6460;
    outline: 0;
    border: none;
}

#removeItem:active {
    color: #fafafa;
    background-color: #c34a47;
    outline: 0;
    border: none;
    transform: translateY(1px);
}

#removeItem span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#removeItem span:after {
    content: "\00d7";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#removeItem:hover span {
    padding-right: 15px;
}

#removeItem:hover span:after {
    opacity: 1;
    right: 0;
}