Form {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
}

.formInput {
    font-size: 0.8rem;
    background-color: #f7f7f7;
}